
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card{
     position: relative;
     width: 350px;
     height: 400px;
}
.container .haxagon .shape
{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
}